<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>v-for 双重循环</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
    <!--可以用括号的形式 第一个参数是当前索引 第二个是数组的每一项   index = $index-->
        <div v-for="(index,item) in items">
            {{item.name}} --{{index}}
            
            <div v-for="b in item.name">
                {{b}}
            </div>
        </div>
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                items:[
                    {name:['a','b','c'],price:50},
                    {name:['x','y','z'],price:50},
                    {name:['o','p'],price:50},
                ]
            }
        })
    </script>
</body>
</html>