<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>example</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <table>
            <tr>
                <td>序列号</td>
                <td>名称</td>
                <td>价格</td>
                <td>数量</td>
                <td>小计</td>
                <td>操作</td>
            </tr>
            <tr v-for="phone in phones">
                <td>{{$index+1}}</td>
                <td>{{phone.name}}</td>
                <td>{{phone.price}}</td>
                <td> <input type="text" v-model="phone.count"></td>
                <td>{{phone.price*phone.count}}</td>
                <td> <button @click="delete(phone)">删除</button></td>
            </tr> 

            <tr>
                <td>总价 {{total}}</td>
            </tr>
        </table>


        <div>
            <div>
                <label >手机名</label>
                <input type="text" v-model="list.name">
            </div>
            <div>
                <label >价格</label>
                <input type="text" v-model="list.price">
            </div>
            <div>
                <label >数量</label>
                <input type="text" v-model="list.count">
            </div>

            <button @click="appendInfo">添加</button>
        </div>
    </div>


    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                phones:[
                    {name:'小米',price:1999,count:1},
                    {name:'华为',price:3999,count:1},
                    {name:'魅族',price:2499,count:1},
                ],
                list:{
                    name:'',
                    price:'',
                    count:'',
                }
            },
            methods:{
                delete:function(phone){
                    this.phones.$remove(phone);
                },
                appendInfo:function(){
                    this.phones.push({name:this.list.name,price:this.list.price,count:this.list.count})
                }
            },

            computed:{
                total:function(){
                    var sum = 0;
                    this.phones.forEach(function(item){
                        sum += item.price*item.count;
                    });
                    return sum;
                }
            }
        })
    </script>
</body>
</html>