<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model="data"> <br>

        <parent :message.sync="data"></parent>


        <template id="parent">
            parent <input type="text" v-model="message"> <br>
            <p>{{message}}</p>
            <p>{{message2}}</p>
        </template>
    </div>

    <script>
        Vue.component('parent',{
            template:'#parent',
            // props:['message']
            props:{
                'message':{
                    type:[String],
                    default: function(){
                        return 100;
                    },
                    twoWay:true,
                    validator: function (v) {//不写的话没有校验器
                        //v就代表传进来的值 校验v的值是否是你的预期
                        return true
                        //v==='who are you6000'
                    },
                    coerce: function (v) {
                        console.log(v);
                        //传进来的值 强制进行改变 在验证之前
                        return v;//之后开始检测type是否符合
                    }
                },
                'message2':{
                    type:[String],
                    default:function(){
                        return 100
                    }
                }
            }
        })

        var vm = new Vue({
            el:'#app',
            data:{
                data:'who are you'
            }
        })
    </script>
</body>
</html>