<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="vue.js"></script>
    <style>
        .fade-transition {
          transition: opacity .3s ease;
        }
        .fade-enter, .fade-leave {
          opacity: 0;
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="radio" value="home" v-model="current" name="rad"> hello
        <input type="radio" value="world" v-model="current" name="rad"> world
        <!-- transition-mode 特性用于指定两个动态组件之间如何过渡。 -->
        <!-- in-out：新组件先过渡进入，等它的过渡完成之后当前组件过渡出去。
        out-in：当前组件先过渡出去，等它的过渡完成之后新组件过渡进入。 -->
        <components :is="current"  transition="fade" transition-mode="out-in">></components>
    </div>

    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                current:''
            },
            components:{
                home:{
                    template:'<div>components_hello</div>'
                },
                world:{
                    template:'<div>components_world</div>'
                }
            }
        })
    </script>

</body>
</html>