<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>keycode</title>
    <script src="vue.js"></script>
</head>
<body>
    <div id="app">
        <!-- |管道符 为过滤器 管道符右侧为内置的过滤器，过滤器其实是js的函数 -->
        <input type="text" v-model="name" @keyup.h="tab | debounce 2000">
        <div v-for="l in list" track-by="$index">
            {{l}} <button @click="del(l)">x</button>
        </div>
    </div>
    <script>
        var vm = new Vue({
            el:'#app',
            data:{
                name:'',
                list:[]
            },
            methods:{
                tab:function(){
                    if(this.name){
                        this.list.push(this.name);
                    }
                    this.name = '';
                },
                del:function(l){
                    this.list.$remove(l)
                }
            }
        })
    </script>
</body>
</html>